body{
	margin:0;
	padding: 0;
	font-family: Microsoft YaHei,arial,sans-serif;
}
ul{
	list-style-type:none
}
span{
	text-align: right;
    padding-right: 12px;
    padding-top: 10px;
    width: 60px;
    font-size: 16px;
    float: left;
}
#wrapper{
	width: 100%;
	position: absolute;
	height: auto;
	min-height: 100%;
	min-width: 1100px;
}
#container{
	
}
.backgroundimg{
	position:absolute; 
	width:100%; 
	height:100%; 
	z-index:-1;
}
header{
	background-color: #00AEBE;
	height: 46px;
	width: 100%;
	margin:0;
	padding: 0;
	position: relative;
	z-index: 1024;
	box-shadow: 0px 0px 0px 1px #ccc;
}
#header-left{
	position: absolute;
}
#header-left img{
	float: left;
	margin-top: 6px;
	margin-left: 25px;
}
#header-left ul{
	float: left;
	padding-left:0px; 
	margin-top: 12px;
	margin-bottom: 0px;
}
#header-left li{
	float: left;
	margin-left: 25px;
}
#header-left a{
	color:white;
	text-decoration: none;
}
#header-right{
	position: absolute;
    font-size: 16px; 
   	right: 25px;
   	top:-5px;
}
#header-right li{
	float: left;
	margin-right: 25px;
}
#header-right a{
	color:white;
	text-decoration: none;
}
footer{
	background-color: #333333;
	position: absolute;
	margin-top: 20px;
	height: 50px;
	bottom: 0;
    left: 0;
    right: 0;	
    z-index: 1024;
	box-shadow: 0px 0px 0px 2px #ccc;
	text-align: center;
	line-height:45px;
}
.footfont{
	color:white;
	font-size: 12px;
}
#main-1{
	position: absolute;
	left: 32.5%;
	width:35%;
	min-width: 400px;
	height: auto;
	margin-top:75px;
	box-shadow: 2px 3px 3px 3px #ccc;
	background-color: white;
}
#login-top{
	position: relative;
	left: 10%;
	width: 80%;
	border-bottom: solid 1px #ccc;
	margin-top: 30px;
	font-size: 20px;
}
#login-min{
	position: relative;
	left: 12%;
	width: 80%;
	margin-top: 30px;
}
.inputbox{
	padding: 10px;
	height: 20px;
	width: 60%;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 13px;
	font-family: Microsoft YaHei,arial,sans-serif;
}
#login-bottom{
	margin-bottom: 50px;
}
#login-bottom button{
	position: relative;
	background: #00AEBE;
	border: none;
 	border-radius: 2px;
 	height: 40px;
 	margin-top: 16px;
 	left: 23%;
 	width: 54%;
 	font-size:16px;
 	font-family: Microsoft YaHei,arial,sans-serif;
}
.headline1{
	font-size: 30px;
	text-align: center;
}
.underline{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #ccc;
}
#main-2{
	position: relative;
	width: 90%;
	left:5%;
	padding: 20px;
	margin-top: 20px;
}
#aboutus{
	margin-left: 10px;
	padding: 20px;
	background-color: white;
	border: 1px solid #EEEEEE;
    width: 25%;
    float: left;
}
.mainpassage{
	font-size: 15px;
	color:#777777;
}
#blog{
	float: left;
	width: 60%;
	background-color: white;
	border: 1px solid #EEEEEE;
	margin-right:10px;
	padding: 20px;
}
#blog img{
	padding: 5px;
	border: 1px solid #EEEEEE;
	width:99%;
	height:auto; 
	margin-bottom: 20px;
}
#main-3{
	float: left;
	margin-top: 20px;
	width: 100%;
	background-color: #00AEBE;
	height: 400px;
}
#main-3 p{
	font-size: 15px;
	color: white;
}
#galllery{
	float: left;
	width: 30%;
	margin:10px;
	margin-left: 22px;
}
#gallery img{
	float: left;
}
#aboutus2{
	float: left;
	width: 30%;
	margin:10px;
	margin-left: 22px;
}
#contact{
	float: left;
	width: 30%;
	margin:10px;
	margin-left: 22px;
}